<script>
  const canvas = document.getElementById('artboard');
  const ctx = canvas.getContext('2d');
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;

  setCanvasConfigs(canvas, ctx);
  initDrawListeners(canvas, ctx);
  initMenuListeners(canvas, ctx);
  initKeyboardListeners(canvas, ctx);

  let isNewLine = true;
  const drawingHistory = [];
  const discardedDrawingHistory = [];
  redrawCanvas(canvas, ctx);

  // --- Helper functions ---

  function setCanvasConfigs(canvas, ctx) {
    // Disable default context menu
    document.oncontextmenu = function () {
      return false;
    };

    // Redraw canvas on resize
    window.addEventListener('resize', (event) => {
      redrawCanvas(canvas, ctx);
    });
  }

  function initDrawListeners(canvas, ctx) {
    canvas.style.cursor = 'crosshair';
    canvas.addEventListener('mousedown', (e) => {
      drawLineSegment(e, canvas, ctx);
      canvas.onmousemove = (e) => {
        drawLineSegment(e, canvas, ctx);
      };
      isNewLine = false;
    });
    canvas.addEventListener('mouseup', (e) => {
      isNewLine = true;
      canvas.onmousemove = null;
      discardedDrawingHistory.length = 0;
    });
  }

  function initMenuListeners(canvas, ctx) {
    // Set clear canvas button listener
    const clearCanvasButton = document.getElementById('clear-canvas-button');
    clearCanvasButton.addEventListener('click', function () {
      clearCanvas(canvas, ctx);
    });

    // Set undo button listener
    const undoButton = document.getElementById('undo-button');
    undoButton.addEventListener('click', function () {
      undoDrawing(canvas, ctx);
    });

    // Set redo button listener
    const redoButton = document.getElementById('redo-button');
    redoButton.addEventListener('click', function () {
      redoDrawing(canvas, ctx);
    });
  }

  function initKeyboardListeners(canvas, ctx) {
    window.addEventListener('keydown', function (e) {
      e.stopImmediatePropagation();
      if (e.key === 'z' && (e.ctrlKey || e.metaKey) && e.shiftKey) {
        redoDrawing(canvas, ctx);
      } else if (e.key === 'z' && (e.ctrlKey || e.metaKey)) {
        undoDrawing(canvas, ctx);
      }
    });
  }

  function redoDrawing(canvas, ctx) {
    const line = discardedDrawingHistory.pop();
    if (line) {
      drawingHistory.push(line);
      redrawCanvas(canvas, ctx);
    }
  }

  function undoDrawing(canvas, ctx) {
    const line = drawingHistory.pop();
    if (line) {
      discardedDrawingHistory.push(line);
      redrawCanvas(canvas, ctx);
    }
  }

  function redrawCanvas(canvas, ctx) {
    canvas.width = document.body.clientWidth;
    canvas.height = document.body.clientHeight;

    ctx.fillStyle = '#ffffff';
    ctx.fillRect(0, 0, canvas.width, canvas.height);

    // Generate grid of dots on canvas
    for (let i = 0; i < canvas.width; i += 20) {
      for (let j = 0; j < canvas.height; j += 20) {
        ctx.fillStyle = '#1e1e1e';
        ctx.fillRect(i, j, 1, 1);
      }
    }

    // Redraw all strokes
    for (const line of drawingHistory) {
      for (let i = 0; i < line.length - 1; i++) {
        const lineSegment = line[i];
        drawCircle(
          ctx,
          lineSegment.x,
          lineSegment.y,
          lineSegment.color,
          lineSegment.penSize
        );
      }
    }
  }

  function drawLineSegment(e, canvas, ctx) {
    const x = e.clientX;
    const y = e.clientY;
    const color = document.getElementById('pen-color').value;
    const penSize = document.getElementById('pen-size').value;
    const lineSegment = {
      x,
      y,
      color,
      penSize,
    };

    // Add to drawing history
    if (isNewLine) {
      drawingHistory.push([lineSegment]);
    } else {
      drawingHistory[drawingHistory.length - 1].push(lineSegment);
    }

    // Draw line segment
    drawCircle(ctx, x, y, color, penSize);
  }

  function drawCircle(ctx, x, y, color, penSize) {
    ctx.beginPath();
    ctx.arc(x, y, penSize, 0, 2 * Math.PI);
    ctx.fillStyle = color;
    ctx.fill();
  }

  function clearCanvas(canvas, ctx) {
    drawingHistory.length = 0;
    discardedDrawingHistory.length = 0;
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    redrawCanvas(canvas, ctx);
  }
</script>

<canvas id="artboard"></canvas>
